html{
	height: 100%;
}
body{
  	overflow: hidden;
  	background-color: #fff;
}

header{
	display: flex;
	justify-content: center;
}

.menu{
	list-style: none;
	display: flex;
}

.menu li{
	padding:5px 10px;
	background-color: #ddd;
	border-radius: 8px;
	margin-left: 5px;
	text-align: center;
}

.menu li a{
	text-decoration: none;
	color:#333;
	font-size: 13px;
}
.menu li a:hover{
	font-weight: bold;
}

section{
	text-align: center;
}

section .imagen-contenedor{
	position: relative;
	text-align: center;
}
section .imagen-contenedor p{
	position: absolute;
	top: 50%;
	left: 43%;
	font-family: verdana;
	font-size: 18px;
}
section .contenedor {
	display: flex;
	flex-wrap: wrap;
    flex-direction: column; 
    align-items: center;
}
section .contenedor form{
	background-color:#353b48;
	padding: 5px 5px 5px 20px;
	width: 400px;
}

section .contenedor form input{
	display: block;
	width: 90%;
	margin: 0px;
	background-color:#353b48;
	border:0px;
	border-bottom: 3px solid red;
	margin-bottom: 10px;
}

section .contenedor form textarea{
	display: block;
	width: 90%;
	margin: 0px;
	border:0px;
	background-color:#353b48;
	border-bottom: 3px solid red;
	margin-bottom: 10px;

}
section .contenedor form button{
	display: block;
	width: 90%;
	margin: 0px;
	padding: 5px 10px;
	background-color: red;
	border:0px;
	color: #fff;
	font-size: 15px;

}


footer{
	margin-top:20px;
	font-family: verdana;
	font-size: 14px;
	background-color: #2f3640;
	color:#fff;
	display: flex;
	justify-content: space-around;
}

footer .item{
	margin-top: 10px;
}



